<!DOCTYPE HTML>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>Subreddit Graph</title>

    <script src="{{ url_for('static', filename='raphael-min.js') }}"
        type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{
        url_for('static', filename='jquery-1.6.2.js') }}"></script>
    <script type="text/javascript" src="{{
        url_for('static', filename='dracula_graph.js') }}"></script>
    <script type="text/javascript" src="{{
        url_for('static', filename='dracula_graffle.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(function() {
            var g = new Graph();
            g.addNode("{{ subreddits[0] }}");

            var l = new Graph.Layout.Spring(g);
            l.layout();

            var r = new Graph.Renderer.Raphael('holder', g, 500, 500);
            r.draw();

            $("#{{ subreddits[0] }}").click(function (event) {
                var subs = [];

                $.getJSON(
                    $SCRIPT_ROOT + '/_get_subs', {
                        parent: "{{ subreddits[0] }}"
                    }, function(json) {
                        subs = json.subreddits;
                        $.each(subs, function(i, sub) {
                            g.addNode(sub);
                            g.addEdge("{{ subreddits[0] }}", sub);
                        });

                        l.layout();
                        r.draw();
                });
            });
        });

        <!-- TODO: Force-directed graph. -->
    </script>

    <style type="text/css" media="screen">
        #header {
            font: helvetica, arial, sans;
            size: 3em;
            text-align: center;
            text-color: #333;
        }
    </style>
</head>
<body>
    <div id="header">
        Reddit Grapher
    </div>
    <div id="content">
        <ul>
            {% for sub in subreddits %}
            <li>{{ sub }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="holder"></div>
</body>
